/*-------CANON------*/
/* Cadrage Fiche Canon */
.fl-canon{
  background:none;
  width:600px;
}

/* Conteneurs des onglets */
.tabs-fl-canon {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   grid-template-rows: repeat(30, minmax(min-content, auto));
   gap: 5px;
   margin: 0 auto;
}
   /* Ne pas retirer */
& > br,
input[name*="tab-flc"] {
   display: none;
}

   /* Onglet */
.tabs-fl-canon label[for*="tab-flc"] {
   grid-column: 1;
   display: block;
   text-transform: uppercase;
   color: var(--contrastLighter);
   padding: 10px;
                text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.25s;
   background:none;
   font-size: 25px;
   width:25px;
   height:25px;
}

/* Onglet au survol */
.tabs-fl-canon label[for*="tab-flc"]:hover {
   background: linear-gradient(90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Onglet actif */
input[name*="tab-flc"]:checked + label[for*="tab-flc"] {
   background: linear-gradient(90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%);
   border-radius: 50px;
   color: var(--whiteLighter);
   transition: all 0.35s;
}

 /* Contenu d'un onglet */
.tab-content-flc {
   grid-column: 2;
   grid-row: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.35s;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
          "wdth" 75;
   font-size:12px;
   color:var(--neutralDark);
   background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
               linear-gradient(90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%) border-box;
   border-radius: 1em;
   border: 4px solid transparent;
   padding:5px;
   width:530px;
   height:850px;
   overflow:auto;
}

.tab-content-flc::-webkit-scrollbar{
  width:1px;
  filter:opacity (1);
  border-radius:5px;
}
.tab-content-flc::-webkit-scrollbar-thumb{
  filter:opacity (1);
  border-radius:5px;
}

/* Contenu d'un onglet actif */
input[name*="tab-flc"]:checked + label + .tab-content-flc {
   z-index: 2;
   opacity: 1;
   transition: all 0.35s;
}

/*---FICHE À L'INTERIEUR DES ONGLETS---*/
.content-gen-flc{
    width:530px;
}

.content-info-flc{
 display:grid;
 grid-template-columns: repeat(2, 1fr), 100px;
 column-gap:10px;
 grid-template-rows: 60px repeat(4, min-content);
 row-gap:8px;
 grid-template-areas:
       "nomprenomc nomprenomc iconnpc1"
       ". . iconnpc1"
       ". . iconnpc2"
       ". rpofc iconnpc2"
       "universc universc iconnpc2"; 
 background:none;
}
.content-info-flc .npc{
  background: linear-gradient(-90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%);
  border-radius: 5px;
  padding:9px;
  text-align:center;
  vertical-align:middle;
  line-height: 40px;
  width:410px;
  color:var(--whiteLighter);
  font-weight: 900;
  font-style: italic;
  font-size:32px;
  text-transform:uppercase;
  grid-area:nomprenomc;
}
:nth-child(1 of .iconc){
  grid-area:iconnpc1;
}
:nth-child(2 of .iconc) {
  grid-area:iconnpc2;}
.content-info-flc .minioc{
  background:var(--contrastLighter);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--accentatuationLightC);
  font-weight: 500;
  text-transform:uppercase;
}

.content-info-flc .ouvert{
  background:#70CC64;
  color:var(--contrastLighter);
  grid-area:rpofc;
}

.content-info-flc .ferme{
  background:#D9686A;
  color:var(--whiteLighter);
  grid-area:rpofc;
}
.content-info-flc .minio_originalc{
  background:var(--neutralDark);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--whiteLighter);
  text-transform:uppercase;
  grid-area:universc;
}
.content-info-flc .iconc{
  width:80px;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.resumec{
    height:243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) opacity(0.65);
    border-radius:12px;
    position: relative;
    z-index: 1;
    margin-top:8px;
 }

.info-boxc{
    background:var(--whiteLighter);
    border-radius:14px;
    width:445px;
    height:180px;
    position: relative;
    z-index: 2;
    overflow:auto;
    margin-top:-227px;
    margin-left:30px;
    margin-bottom:25px;
 }

.textec{
    padding:15px;
    text-align:justify;
    color:var(--neutralDark);
    line-height:16px;
 }

.textec markc{
    background: linear-gradient(90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%);
    padding:2px;
    border-radius: 5px;
    color:white;
 }

.info-boxc::-webkit-scrollbar{
  width: 10px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.info-boxc::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkC);
  border-radius:10px;
}
.rp-content-flc{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap:10px;
 grid-template-rows: repeat(2, min-content);
 row-gap:8px;
 grid-template-areas:
   "rpcoursc rpterminec rpabandonc"
   "listcoursc listterminec listabandonc"
   "imgrpencoursc imgrpterminec imgrpabandonnec"; 
 background:none;
}
.rp-ssliste-flc{
  padding:15px;
  border-radius:10px;
  width:135px;
  color:var(--whiteLighter);
  font-style: italic;
  font-weight: 600;
  font-size:13px;
  text-transform:uppercase;
  text-align:center;
}
.encoursc{
  background:var(--accentatuationLightC);
  grid-area:rpcoursc;
}
.terminec{
  background:var(--accentuationMediumC);
  grid-area:rpterminec;
}
.abandonnec{
  background:var(--accentuationDarkC);
  grid-area:rpabandonc;
}
.img-encoursc{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentatuationLightC);
  background-position: center;
  grid-area:imgrpencoursc;
}
.img-terminec{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationMediumC);
  background-position: center;
  grid-area:imgrpterminec;
}
.img-abandonnec{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationDarkC);
  background-position: center;
  grid-area:imgrpabandonnec;
}
.rp-liste-flc{
  background:var(--contrastLighter);
  padding:10px;
  border-radius:5px;
  width:140px;
  height:200px;
  overflow:auto;
}

.rp-liste-flc::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.rp-liste-flc::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkC);
  border-radius:10px;
}

.rp-liste-flc a{
  color:var(--accentuationDarkC);
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  font-size:10px;
}

.rp-liste-flc i{
  color:var(--accentatuationLightC);
  font-size:10px;
}

.encourslistec{
  border:solid 3px var(--accentatuationLightC);
  grid-area:listcoursc;
}

.terminelistec{
  border:solid 3px var(--accentuationMediumC);
  grid-area:listterminec;
}

.abandonnelistec{
  border:solid 3px var(--accentuationDarkC);
  grid-area:listabandonc;
}

.social-link-flc {
  display: flex;
  align-items: center;
  background-color: var(--neutralDark);
  border-radius: 10px;
  overflow: hidden;
  margin-top:8px;
  width: 525px; /* Ajustable */
  height: 80px; /* Ajustable */
}

.social-link-flc img {
  width: 40%;
  height: 100%;
  object-fit: cover; /* Empêche la distorsion de l'image */
}

.social-link-flc div {
  flex: 1;
  color: var(--whiteLighter);
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right:25px;
  font-size: 24px;
  text-transform:uppercase;
}

.social-card-flc {
  display: flex;
  align-items: center;
  background: var(--contrastLighter); /* Effet de fond */
  padding: 5px;
  border-radius: 15px;
  width: 513px;
}

.social-card-flc img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.social-text-flc {
  margin-left: 15px;
  flex: 1;
}

.social-text-flc gtc {
  font-size: 24px;
  font-weight: bold;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-style: italic;
  background:linear-gradient(90deg, var(--accentatuationLightC) 35%, var(--accentuationMediumC) 70%, var(--accentuationDarkC) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.social-text-flc ptc{
  font-size: 15px;
  font-style: italic;
  color: var(--contrast);
  margin: 3px 0;
}

.descriptionlien-flc {
  background-color: var(--whiteLighter);
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  height:40px;
  overflow:auto;
}
.descriptionlien-flc::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.descriptionlien-flc::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkC);
  border-radius:10px;
}