/*-------INTRIGUE------*/
/* Cadrage Fiche Canon */
.fl-intrigue{
  background:none;
  width:600px;
}

/* Conteneurs des onglets */
.tabs-fl-intrigue {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   grid-template-rows: repeat(30, minmax(min-content, auto));
   gap: 5px;
   margin: 0 auto;
}
   /* Ne pas retirer */
& > br,
input[name*="tab-fli"] {
   display: none;
}

   /* Onglet */
.tabs-fl-intrigue label[for*="tab-fli"] {
   grid-column: 1;
   display: block;
   text-transform: uppercase;
   color: var(--contrastLighter);
   padding: 10px;
                text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.25s;
   background:none;
   font-size: 25px;
   width:25px;
   height:25px;
}

/* Onglet au survol */
.tabs-fl-intrigue label[for*="tab-fli"]:hover {
   background: linear-gradient(90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Onglet actif */
input[name*="tab-fli"]:checked + label[for*="tab-fli"] {
   background: linear-gradient(90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%);
   border-radius: 50px;
   color: var(--whiteLighter);
   transition: all 0.35s;
}

 /* Contenu d'un onglet */
.tab-content-fli {
   grid-column: 2;
   grid-row: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.35s;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
          "wdth" 75;
   font-size:12px;
   color:var(--neutralDark);
   background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
               linear-gradient(90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%) border-box;
   border-radius: 1em;
   border: 4px solid transparent;
   padding:5px;
   width:530px;
   height:850px;
   overflow:auto;
}

.tab-content-fli::-webkit-scrollbar{
  width:1px;
  filter:opacity (1);
  border-radius:5px;
}
.tab-content-fli::-webkit-scrollbar-thumb{
  filter:opacity (1);
  border-radius:5px;
}

/* Contenu d'un onglet actif */
input[name*="tab-fli"]:checked + label + .tab-content-fli {
   z-index: 2;
   opacity: 1;
   transition: all 0.35s;
}

/*---FICHE À L'INTERIEUR DES ONGLETS---*/
.content-gen-fli{
    width:530px;
}

.content-info-fli{
 display:grid;
 grid-template-columns: repeat(2, 1fr), 100px;
 column-gap:10px;
 grid-template-rows: 60px repeat(4, min-content);
 row-gap:8px;
 grid-template-areas:
       "nomprenomi nomprenomi iconnpi1"
       ". . iconnpi1"
       ". . iconnpi2"
       ". rpofi iconnpi2"
       "universi universi iconnpi2"; 
 background:none;
}
.content-info-fli .npi{
  background: linear-gradient(-90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%);
  border-radius: 5px;
  padding:9px;
  text-align:center;
  vertical-align:middle;
  line-height: 40px;
  width:410px;
  color:var(--whiteLighter);
  font-weight: 900;
  font-style: italic;
  font-size:32px;
  text-transform:uppercase;
  grid-area:nomprenomi;
}
:nth-child(1 of .iconi){
  grid-area:iconnpi1;
}
:nth-child(2 of .iconi) {
  grid-area:iconnpi2;
}

.content-info-fli .minioi{
  background:var(--contrastLighter);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--accentatuationLightI);
  font-weight: 500;
  text-transform:uppercase;
}

.content-info-fli .ouvert{
  background:#70CC64;
  color:var(--contrastLighter);
  grid-area:rpofi;
}

.content-info-fli .ferme{
  background:#D9686A;
  color:var(--whiteLighter);
  grid-area:rpofi;
}
.content-info-fli .minio_originali{
  background:var(--neutralDark);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--whiteLighter);
  text-transform:uppercase;
  grid-area:universi;
}
.content-info-fli .iconi{
  width:80px;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.resumei{
    height:243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) opacity(0.65);
    border-radius:12px;
    position: relative;
    z-index: 1;
    margin-top:8px;
 }

.info-boxi{
    background:var(--whiteLighter);
    border-radius:14px;
    width:445px;
    height:180px;
    position: relative;
    z-index: 2;
    overflow:auto;
    margin-top:-227px;
    margin-left:30px;
    margin-bottom:25px;
 }

.textei{
    padding:15px;
    text-align:justify;
    color:var(--neutralDark);
    line-height:16px;
 }

.textei marki{
    background: linear-gradient(90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%);
    padding:2px;
    border-radius: 5px;
    color:white;
 }

.info-boxi::-webkit-scrollbar{
  width: 10px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.info-boxi::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkI);
  border-radius:10px;
}
.rp-content-fli{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap:10px;
 grid-template-rows: repeat(2, min-content);
 row-gap:8px;
 grid-template-areas:
   "rpcoursi rpterminei rpabandoni"
   "listcoursi listterminei listabandoni"
   "imgrpencoursi imgrpterminei imgrpabandonnei"; 
 background:none;
}
.rp-ssliste-fli{
  padding:15px;
  border-radius:10px;
  width:135px;
  color:var(--whiteLighter);
  font-style: italic;
  font-weight: 600;
  font-size:13px;
  text-transform:uppercase;
  text-align:center;
}
.encoursi{
  background:var(--accentatuationLightI);
  grid-area:rpcoursi;
}
.terminei{
  background:var(--accentuationMediumI);
  grid-area:rpterminei;
}
.abandonnei{
  background:var(--accentuationDarkI);
  grid-area:rpabandoni;
}
.img-encoursi{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentatuationLightI);
  background-position: center;
  grid-area:imgrpencoursi;
}
.img-terminei{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationMediumI);
  background-position: center;
  grid-area:imgrpterminei;
}
.img-abandonnei{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationDarkI);
  background-position: center;
  grid-area:imgrpabandonnei;
}
.rp-liste-fli{
  background:var(--contrastLighter);
  padding:10px;
  border-radius:5px;
  width:140px;
  height:200px;
  overflow:auto;
}

.rp-liste-fli::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.rp-liste-fli::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkI);
  border-radius:10px;
}

.rp-liste-fli a{
  color:var(--accentuationDarkI);
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  font-size:10px;
}

.rp-liste-fli i{
  color:var(--accentatuationLightI);
  font-size:10px;
}

.encourslistei{
  border:solid 3px var(--accentatuationLightI);
  grid-area:listcoursi;
}

.terminelistei{
  border:solid 3px var(--accentuationMediumI);
  grid-area:listterminei;
}

.abandonnelistei{
  border:solid 3px var(--accentuationDarkI);
  grid-area:listabandoni;
}

.social-link-fli {
  display: flex;
  align-items: center;
  background-color: var(--neutralDark);
  border-radius: 10px;
  overflow: hidden;
  margin-top:8px;
  width: 525px; /* Ajustable */
  height: 80px; /* Ajustable */
}

.social-link-fli img {
  width: 40%;
  height: 100%;
  object-fit: cover; /* Empêche la distorsion de l'image */
}

.social-link-fli div {
  flex: 1;
  color: var(--whiteLighter);
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right:25px;
  font-size: 24px;
  text-transform:uppercase;
}

.social-card-fli {
  display: flex;
  align-items: center;
  background: var(--contrastLighter); /* Effet de fond */
  padding: 5px;
  border-radius: 15px;
  width: 513px;
}

.social-card-fli img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.social-text-fli {
  margin-left: 15px;
  flex: 1;
}

.social-text-fli gti {
  font-size: 24px;
  font-weight: bold;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-style: italic;
  background:linear-gradient(90deg, var(--accentatuationLightI) 35%, var(--accentuationMediumI) 70%, var(--accentuationDarkI) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.social-text-fli pti{
  font-size: 15px;
  font-style: italic;
  color: var(--contrast);
  margin: 3px 0;
}

.descriptionlien-fli {
  background-color: var(--whiteLighter);
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  height:40px;
  overflow:auto;
}
.descriptionlien-fli::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.descriptionlien-fli::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkI);
  border-radius:10px;
}