/*-------ORIGNAUX------*/
/* Cadrage Fiche Canon */
.fl-originaux{
  background:none;
  width:600px;
}

/* Conteneurs des onglets */
.tabs-fl-originaux {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   grid-template-rows: repeat(30, minmax(min-content, auto));
   gap: 5px;
   margin: 0 auto;
}
   /* Ne pas retirer */
& > br,
input[name*="tab-flo"] {
   display: none;
}

   /* Onglet */
.tabs-fl-originaux label[for*="tab-flo"] {
   grid-column: 1;
   display: block;
   text-transform: uppercase;
   color: var(--contrastLighter);
   padding: 10px;
                text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.25s;
   background:none;
   font-size: 25px;
   width:25px;
   height:25px;
}

/* Onglet au survol */
.tabs-fl-originaux label[for*="tab-flo"]:hover {
   background: linear-gradient(90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Onglet actif */
input[name*="tab-flo"]:checked + label[for*="tab-flo"] {
   background: linear-gradient(90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%);
   border-radius: 50px;
   color: var(--whiteLighter);
   transition: all 0.35s;
}

 /* Contenu d'un onglet */
.tab-content-flo {
   grid-column: 2;
   grid-row: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.35s;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
          "wdth" 75;
   font-size:12px;
   color:var(--neutralDark);
   background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
               linear-gradient(90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%) border-box;
   border-radius: 1em;
   border: 4px solid transparent;
   padding:5px;
   width:530px;
   height:850px;
   overflow:auto;
}

.tab-content-flo::-webkit-scrollbar{
  width:1px;
  filter:opacity (1);
  border-radius:5px;
}
.tab-content-flo::-webkit-scrollbar-thumb{
  filter:opacity (1);
  border-radius:5px;
}

/* Contenu d'un onglet actif */
input[name*="tab-flo"]:checked + label + .tab-content-flo {
   z-index: 2;
   opacity: 1;
   transition: all 0.35s;
}

/*---FICHE À L'INTERIEUR DES ONGLETS---*/
.content-gen-flo{
    width:530px;
}

.content-info-flo{
 display:grid;
 grid-template-columns: repeat(2, 1fr), 100px;
 column-gap:10px;
 grid-template-rows: 60px repeat(4, min-content);
 row-gap:8px;
 grid-template-areas:
       "nomprenomo nomprenomo iconnpo1"
       ". . iconnpo1"
       ". . iconnpo2"
       ". rpofo iconnpo2"
       "universo universo iconnpo2"; 
 background:none;
}
.content-info-flo .npo{
  background: linear-gradient(-90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%);
  border-radius: 5px;
  padding:9px;
  text-align:center;
  vertical-align:middle;
  line-height: 40px;
  width:410px;
  color:var(--whiteLighter);
  font-weight: 900;
  font-style: italic;
  font-size:32px;
  text-transform:uppercase;
  grid-area:nomprenomo;
}
:nth-child(1 of .icono){
  grid-area:iconnpo1;
}
:nth-child(2 of .icono) {
  grid-area:iconnpo2;
}

.content-info-flo .minioo{
  background:var(--contrastLighter);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--accentatuationLightO);
  font-weight: 500;
  text-transform:uppercase;
}

.content-info-flo .ouvert{
  background:#70CC64;
  color:var(--contrastLighter);
  grid-area:rpofo;
}

.content-info-flo .ferme{
  background:#D9686A;
  color:var(--whiteLighter);
  grid-area:rpofo;
}
.content-info-flo .minio_originalo{
  background:var(--neutralDark);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--whiteLighter);
  text-transform:uppercase;
  grid-area:universo;
}
.content-info-flo .icono{
  width:80px;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.resumeo{
    height:243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) opacity(0.65);
    border-radius:12px;
    position: relative;
    z-index: 1;
    margin-top:8px;
 }

.info-boxo{
    background:var(--whiteLighter);
    border-radius:14px;
    width:445px;
    height:180px;
    position: relative;
    z-index: 2;
    overflow:auto;
    margin-top:-227px;
    margin-left:30px;
    margin-bottom:25px;
 }

.texteo{
    padding:15px;
    text-align:justify;
    color:var(--neutralDark);
    line-height:16px;
 }

.texteo marko{
    background: linear-gradient(90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%);
    padding:2px;
    border-radius: 5px;
    color:white;
 }

.info-boxo::-webkit-scrollbar{
  width: 10px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.info-boxo::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkO);
  border-radius:10px;
}
.rp-content-flo{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap:10px;
 grid-template-rows: repeat(2, min-content);
 row-gap:8px;
 grid-template-areas:
   "rpcourso rptermineo rpabandono"
   "listcourso listtermineo listabandono"
   "imgrpencourso imgrptermineo imgrpabandonneo"; 
 background:none;
}
.rp-ssliste-flo{
  padding:15px;
  border-radius:10px;
  width:135px;
  color:var(--whiteLighter);
  font-style: italic;
  font-weight: 600;
  font-size:13px;
  text-transform:uppercase;
  text-align:center;
}
.encourso{
  background:var(--accentatuationLightO);
  grid-area:rpcourso;
}
.termineo{
  background:var(--accentuationMediumO);
  grid-area:rptermineo;
}
.abandonneo{
  background:var(--accentuationDarkO);
  grid-area:rpabandono;
}
.img-encourso{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentatuationLightO);
  background-position: center;
  grid-area:imgrpencourso;
}
.img-termineo{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationMediumO);
  background-position: center;
  grid-area:imgrptermineo;
}
.img-abandonneo{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationDarkO);
  background-position: center;
  grid-area:imgrpabandonneo;
}
.rp-liste-flo{
  background:var(--contrastLighter);
  padding:10px;
  border-radius:5px;
  width:140px;
  height:200px;
  overflow:auto;
}

.rp-liste-flo::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.rp-liste-flo::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkO);
  border-radius:10px;
}

.rp-liste-flo a{
  color:var(--accentuationDarkO);
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  font-size:10px;
}

.rp-liste-flo i{
  color:var(--accentatuationLightO);
  font-size:10px;
}

.encourslisteo{
  border:solid 3px var(--accentatuationLightO);
  grid-area:listcourso;
}

.terminelisteo{
  border:solid 3px var(--accentuationMediumO);
  grid-area:listtermineo;
}

.abandonnelisteo{
  border:solid 3px var(--accentuationDarkO);
  grid-area:listabandono
}

.social-link-flo{
  display: flex;
  align-items: center;
  background-color: var(--neutralDark);
  border-radius: 10px;
  overflow: hidden;
  margin-top:8px;
  width: 525px; /* Ajustable */
  height: 80px; /* Ajustable */
}

.social-link-flo img {
  width: 40%;
  height: 100%;
  object-fit: cover; /* Empêche la distorsion de l'image */
}

.social-link-flo div {
  flex: 1;
  color: var(--whiteLighter);
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right:25px;
  font-size: 24px;
  text-transform:uppercase;
}

.social-card-flo {
  display: flex;
  align-items: center;
  background: var(--contrastLighter); /* Effet de fond */
  padding: 5px;
  border-radius: 15px;
  width: 513px;
}

.social-card-flo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.social-text-flo {
  margin-left: 15px;
  flex: 1;
}

.social-text-flo gto {
  font-size: 24px;
  font-weight: bold;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-style: italic;
  background:linear-gradient(90deg, var(--accentatuationLightO) 35%, var(--accentuationMediumO) 70%, var(--accentuationDarkO) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.social-text-flo pto{
  font-size: 15px;
  font-style: italic;
  color: var(--contrast);
  margin: 3px 0;
}

.descriptionlien-flo {
  background-color: var(--whiteLighter);
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  height:40px;
  overflow:auto;
}
.descriptionlien-flo::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.descriptionlien-flo::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkO);
  border-radius:10px;
}