/*-------REECRIT------*/
/* Cadrage Fiche Canon */
.fl-reecrit{
  background:none;
  width:600px;
}

/* Conteneurs des onglets */
.tabs-fl-reecrit {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   grid-template-rows: repeat(30, minmax(min-content, auto));
   gap: 5px;
   margin: 0 auto;
}
   /* Ne pas retirer */
& > br,
input[name*="tab-flr"] {
   display: none;
}

   /* Onglet */
.tabs-fl-reecrit label[for*="tab-flr"] {
   grid-column: 1;
   display: block;
   text-transform: uppercase;
   color: var(--contrastLighter);
   padding: 10px;
                text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.25s;
   background:none;
   font-size: 25px;
   width:25px;
   height:25px;
}

/* Onglet au survol */
.tabs-fl-reecrit label[for*="tab-flr"]:hover {
   background: linear-gradient(90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Onglet actif */
input[name*="tab-flr"]:checked + label[for*="tab-flr"] {
   background: linear-gradient(90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%);
   border-radius: 50px;
   color: var(--whiteLighter);
   transition: all 0.35s;
}

 /* Contenu d'un onglet */
.tab-content-flr {
   grid-column: 2;
   grid-row: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.35s;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
          "wdth" 75;
   font-size:12px;
   color:var(--neutralDark);
   background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
               linear-gradient(90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%) border-box;
   border-radius: 1em;
   border: 4px solid transparent;
   padding:5px;
   width:530px;
   height:850px;
   overflow:auto;
}

.tab-content-flr::-webkit-scrollbar{
  width:1px;
  filter:opacity (1);
  border-radius:5px;
}
.tab-content-flr::-webkit-scrollbar-thumb{
  filter:opacity (1);
  border-radius:5px;
}

/* Contenu d'un onglet actif */
input[name*="tab-flr"]:checked + label + .tab-content-flr {
   z-index: 2;
   opacity: 1;
   transition: all 0.35s;
}

/*---FICHE À L'INTERIEUR DES ONGLETS---*/
.content-gen-flr{
    width:530px;
}

.content-info-flr{
 display:grid;
 grid-template-columns: repeat(2, 1fr), 100px;
 column-gap:10px;
 grid-template-rows: 60px repeat(4, min-content);
 row-gap:8px;
 grid-template-areas:
       "nomprenomr nomprenomr iconnpr1"
       ". . iconnpr1"
       ". . iconnpr2"
       ". rpofr iconnpr2"
       "universr universr iconnpr2"; 
 background:none;
}
.npr{
  background: linear-gradient(-90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%);
  border-radius: 5px;
  padding:9px;
  text-align:center;
  vertical-align:middle;
  line-height: 40px;
  width:410px;
  color:var(--whiteLighter);
  font-weight: 900;
  font-style: italic;
  font-size:32px;
  text-transform:uppercase;
  grid-area:nomprenomr;
}
:nth-child(1 of .iconr){
  grid-area:iconnpr1;
}
:nth-child(2 of .iconr) {
  grid-area:iconnpr2;}
.minior{
  background:var(--contrastLighter);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--accentatuationLightR);
  font-weight: 500;
  text-transform:uppercase;
}

.ouvert{
  background:#70CC64;
  color:var(--contrastLighter);
  grid-area:rpofr;
}

.ferme{
  background:#D9686A;
  color:var(--whiteLighter);
  grid-area:rpofr;
}
.minio_originalr{
  background:var(--neutralDark);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--whiteLighter);
  text-transform:uppercase;
  grid-area:universr;
}
.iconr{
  width:80px;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.resumer{
    height:243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) opacity(0.65);
    border-radius:12px;
    position: relative;
    z-index: 1;
    margin-top:8px;
 }

.info-boxr{
    background:var(--whiteLighter);
    border-radius:14px;
    width:445px;
    height:180px;
    position: relative;
    z-index: 2;
    overflow:auto;
    margin-top:-227px;
    margin-left:30px;
    margin-bottom:25px;
 }

.texter{
    padding:15px;
    text-align:justify;
    color:var(--neutralDark);
    line-height:16px;
 }

.texter markr{
    background: linear-gradient(90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%);
    padding:2px;
    border-radius: 5px;
    color:white;
 }

.info-boxr::-webkit-scrollbar{
  width: 10px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.info-boxr::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkR);
  border-radius:10px;
}
.rp-content-flr{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap:10px;
 grid-template-rows: repeat(2, min-content);
 row-gap:8px;
 grid-template-areas:
   "rpcoursr rpterminer rpabandonr"
   "listcoursr listterminer listabandonr"
   "imgrpencoursr imgrpterminer imgrpabandonner"; 
 background:none;
}
.rp-ssliste-flr{
  padding:15px;
  border-radius:10px;
  width:135px;
  color:var(--whiteLighter);
  font-style: italic;
  font-weight: 600;
  font-size:13px;
  text-transform:uppercase;
  text-align:center;
}
.encoursr{
  background:var(--accentatuationLightR);
  grid-area:rpcoursr;
}
.terminer{
  background:var(--accentuationMediumR);
  grid-area:rpterminer;
}
.abandonner{
  background:var(--accentuationDarkR);
  grid-area:rpabandonr;
}
.img-encoursr{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentatuationLightR);
  background-position: center;
  grid-area:imgrpencoursr;
}
.img-terminer{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationMediumR);
  background-position: center;
  grid-area:imgrpterminer;
}
.img-abandonner{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationDarkR);
  background-position: center;
  grid-area:imgrpabandonner;
}
.rp-liste-flr{
  background:var(--contrastLighter);
  padding:10px;
  border-radius:5px;
  width:140px;
  height:200px;
  overflow:auto;
}

.rp-liste-flr::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.rp-liste-flr::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkR);
  border-radius:10px;
}

.rp-liste-flr a{
  color:var(--accentuationDarkR);
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  font-size:10px;
}

.rp-liste-flr i{
  color:var(--accentatuationLightR);
  font-size:10px;
}

.encourslister{
  border:solid 3px var(--accentatuationLightR);
  grid-area:listcoursr;
}

.terminelister{
  border:solid 3px var(--accentuationMediumR);
  grid-area:listterminer;
}

.abandonnelister{
  border:solid 3px var(--accentuationDarkR);
  grid-area:listabandonr;
}

.social-link-flr {
  display: flex;
  align-items: center;
  background-color: var(--neutralDark);
  border-radius: 10px;
  overflow: hidden;
  margin-top:8px;
  width: 525px; /* Ajustable */
  height: 80px; /* Ajustable */
}

.social-link-flr img {
  width: 40%;
  height: 100%;
  object-fit: cover; /* Empêche la distorsion de l'image */
}

.social-link-flr div {
  flex: 1;
  color: var(--whiteLighter);
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right:25px;
  font-size: 24px;
  text-transform:uppercase;
}

.social-card-flr {
  display: flex;
  align-items: center;
  background: var(--contrastLighter); /* Effet de fond */
  padding: 5px;
  border-radius: 15px;
  width: 513px;
}

.social-card-flr img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.social-text-flr {
  margin-left: 15px;
  flex: 1;
}

.social-text-flr gtr {
  font-size: 24px;
  font-weight: bold;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-style: italic;
  background:linear-gradient(90deg, var(--accentatuationLightR) 35%, var(--accentuationMediumR) 70%, var(--accentuationDarkR) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.social-text-flr ptr{
  font-size: 15px;
  font-style: italic;
  color: var(--contrast);
  margin: 3px 0;
}

.descriptionlien-flr {
  background-color: var(--whiteLighter);
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  height:40px;
  overflow:auto;
}
.descriptionlien-flr::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.descriptionlien-flr::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkR);
  border-radius:10px;
}