/*-------TVA------*/
/* Cadrage Fiche Canon */
.fl-tva{
  background:none;
  width:600px;
}

/* Conteneurs des onglets */
.tabs-fl-tva {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   grid-template-rows: repeat(30, minmax(min-content, auto));
   gap: 5px;
   margin: 0 auto;
}
   /* Ne pas retirer */
& > br,
input[name*="tab-flt"] {
   display: none;
}

   /* Onglet */
.tabs-fl-tva label[for*="tab-flt"] {
   grid-column: 1;
   display: block;
   text-transform: uppercase;
   color: var(--contrastLighter);
   padding: 10px;
                text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.25s;
   background:none;
   font-size: 25px;
   width:25px;
   height:25px;
}

/* Onglet au survol */
.tabs-fl-tva label[for*="tab-flt"]:hover {
   background: linear-gradient(90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Onglet actif */
input[name*="tab-flt"]:checked + label[for*="tab-flt"] {
   background: linear-gradient(90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%);
   border-radius: 50px;
   color: var(--whiteLighter);
   transition: all 0.35s;
}

 /* Contenu d'un onglet */
.tab-content-flt {
   grid-column: 2;
   grid-row: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.35s;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
          "wdth" 75;
   font-size:12px;
   color:var(--neutralDark);
   background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
               linear-gradient(90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%) border-box;
   border-radius: 1em;
   border: 4px solid transparent;
   padding:5px;
   width:530px;
   height:850px;
   overflow:auto;
}

.tab-content-flt::-webkit-scrollbar{
  width:1px;
  filter:opacity (1);
  border-radius:5px;
}
.tab-content-flt::-webkit-scrollbar-thumb{
  filter:opacity (1);
  border-radius:5px;
}

/* Contenu d'un onglet actif */
input[name*="tab-flt"]:checked + label + .tab-content-flt {
   z-index: 2;
   opacity: 1;
   transition: all 0.35s;
}

/*---FICHE À L'INTERIEUR DES ONGLETS---*/
.content-gen-flt{
    width:530px;
}

.content-info-flt{
 display:grid;
 grid-template-columns: repeat(2, 1fr), 100px;
 column-gap:10px;
 grid-template-rows: 60px repeat(4, min-content);
 row-gap:8px;
 grid-template-areas:
       "nomprenomt nomprenomt iconnpt1"
       ". . iconnpt1"
       ". . iconnpt2"
       ". rpoft iconnpt2"
       "universt universt iconnpt2"; 
 background:none;
}
.content-info-flt .npt{
  background: linear-gradient(-90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%);
  border-radius: 5px;
  padding:9px;
  text-align:center;
  vertical-align:middle;
  line-height: 40px;
  width:410px;
  color:var(--whiteLighter);
  font-weight: 900;
  font-style: italic;
  font-size:32px;
  text-transform:uppercase;
  grid-area:nomprenomt;
}
:nth-child(1 of .icont){
  grid-area:iconnpt1;
}
:nth-child(2 of .icont) {
  grid-area:iconnpt2;
}

.content-info-flt .miniot{
  background:var(--contrastLighter);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--accentatuationLightT);
  font-weight: 500;
  text-transform:uppercase;
}

.content-info-flt .ouvert{
  background:#70CC64;
  color:var(--contrastLighter);
  grid-area:rpoft;
}

.content-info-flt .ferme{
  background:#D9686A;
  color:var(--whiteLighter);
  grid-area:rpoft;
}
.content-info-flt .minio_originalt{
  background:var(--neutralDark);
  border-radius:5px;
  padding:5px;
  vertical-align:middle;
  line-height: 15px;
  text-align:center;
  color:var(--whiteLighter);
  text-transform:uppercase;
  grid-area:universt;
}
.content-info-flt .icont{
  width:80px;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.resumet{
    height:243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) opacity(0.65);
    border-radius:12px;
    position: relative;
    z-index: 1;
    margin-top:8px;
 }

.info-boxt{
    background:var(--whiteLighter);
    border-radius:14px;
    width:445px;
    height:180px;
    position: relative;
    z-index: 2;
    overflow:auto;
    margin-top:-227px;
    margin-left:30px;
    margin-bottom:25px;
 }

.textet{
    padding:15px;
    text-align:justify;
    color:var(--neutralDark);
    line-height:16px;
 }

.textet markt{
    background: linear-gradient(90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%);
    padding:2px;
    border-radius: 5px;
    color:white;
 }

.info-boxt::-webkit-scrollbar{
  width: 10px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.info-boxt::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkT);
  border-radius:10px;
}
.rp-content-flt{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap:10px;
 grid-template-rows: repeat(2, min-content);
 row-gap:8px;
 grid-template-areas:
   "rpcourst rpterminet rpabandont"
   "listcourst listterminet listabandont"
   "imgrpencourst imgrpterminet imgrpabandonnet"; 
 background:none;
}
.rp-ssliste-flt{
  padding:15px;
  border-radius:10px;
  width:135px;
  color:var(--whiteLighter);
  font-style: italic;
  font-weight: 600;
  font-size:13px;
  text-transform:uppercase;
  text-align:center;
}
.encourst{
  background:var(--accentatuationLightT);
  grid-area:rpcourst;
}
.terminet{
  background:var(--accentuationMediumT);
  grid-area:rpterminet;
}
.abandonnet{
  background:var(--accentuationDarkT);
  grid-area:rpabandont;
}
.img-encourst{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentatuationLightT);
  background-position: center;
  grid-area:imgrpencourst;
}
.img-terminet{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationMediumT);
  background-position: center;
  grid-area:imgrpterminet;
}
.img-abandonnet{
  width:160px;
  height:60px;
  background-size: cover;
  border-radius:5px;
  border:solid 3px var(--accentuationDarkT);
  background-position: center;
  grid-area:imgrpabandonnet;
}
.rp-liste-flt{
  background:var(--contrastLighter);
  padding:10px;
  border-radius:5px;
  width:140px;
  height:200px;
  overflow:auto;
}

.rp-liste-flt::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.rp-liste-flt::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkT);
  border-radius:10px;
}

.rp-liste-flt a{
  color:var(--accentuationDarkT);
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  font-size:10px;
}

.rp-liste-flt i{
  color:var(--accentatuationLightT);
  font-size:10px;
}

.encourslistet{
  border:solid 3px var(--accentatuationLightT);
  grid-area:listcourst;
}

.terminelistet{
  border:solid 3px var(--accentuationMediumT);
  grid-area:listterminet;
}

.abandonnelistet{
  border:solid 3px var(--accentuationDarkT);
  grid-area:listabandont;
}

.social-link-flt {
  display: flex;
  align-items: center;
  background-color: var(--neutralDark);
  border-radius: 10px;
  overflow: hidden;
  margin-top:8px;
  width: 525px; /* Ajustable */
  height: 80px; /* Ajustable */
}

.social-link-flt img {
  width: 40%;
  height: 100%;
  object-fit: cover; /* Empêche la distorsion de l'image */
}

.social-link-flt div {
  flex: 1;
  color: var(--whiteLighter);
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right:25px;
  font-size: 24px;
  text-transform:uppercase;
}

.social-card-flt {
  display: flex;
  align-items: center;
  background: var(--contrastLighter); /* Effet de fond */
  padding: 5px;
  border-radius: 15px;
  width: 513px;
}

.social-card-flt img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: linear-gradient(var(--whiteLighter), var(--whiteLighter)) padding-box,
              linear-gradient(18deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%) border-box;
  border-radius: 50em;
  border: 6px solid transparent;
}

.social-text-flt {
  margin-left: 15px;
  flex: 1;
}

.social-text-flt gtt {
  font-size: 24px;
  font-weight: bold;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-style: italic;
  background:linear-gradient(90deg, var(--accentatuationLightT) 35%, var(--accentuationMediumT) 70%, var(--accentuationDarkT) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.social-text-flt ptt{
  font-size: 15px;
  font-style: italic;
  color: var(--contrast);
  margin: 3px 0;
}

.descriptionlien-flt {
  background-color: var(--whiteLighter);
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  height:40px;
  overflow:auto;
}
.descriptionlien-flt::-webkit-scrollbar{
  width: 5px;
  background-color: var(--contrastLighter);
  border-radius:10px;
}

.descriptionlien-flt::-webkit-scrollbar-thumb {
  background:var(--accentuationDarkT);
  border-radius:10px;
}